body {
  font-family: Arial, sans-serif;
  overflow: auto;
}

hr {
  color: white;
}

.column {
  float: left;
  padding: 2%;
}

.header {
  font-size: 1.6em;
}

.border {
  border: solid 2px blue;
}

.full-width {
  width: 100%;
  display: inline-flex;
}

.width30 {
  width: 30%;
}
