body {
  font-family: 'Karla', sans-serif;
  overflow: auto;
  text-align: center;
  max-width: 28em;
  background-color: rgb(168, 223, 255);
  color: rgb(95, 127, 141);
}

hr {
  color: white;
}

.column {
  float: left;
  padding: 2%;
}

.header {
  font-size: 2em;
}

.header2 {
  font-size: 1.2em;
  font-weight: bold;
}

.border {
  border: solid 2px blue;
}

.fill-width {
  width: 74%;
}

.w10 {
  width: 10%;
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-small {
  font-size: 0.8em;
}

.card {
  color: rgb(44, 44, 44);
  background-color: white;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input {
  height: 2em;
  border: 2px solid rgb(112, 112, 112);
  border-radius: 5px;
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}